body {
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
    padding-top: 5px;
    background-color: rgb(196, 196, 209);
}
* {
    margin: 0;
    font-family: 'roboto',sans-serif;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right,blue, lightblue);
    padding: 1.5rem;
    border-radius: 6px;
}
.container h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: cornsilk;
    text-shadow: 3px 5px black;
}
#f-list {
    display: flex;
    list-style: none;
   
}
#f-list li {
    margin-left: 15px;
    background-color: rgb(56, 13, 97);
    color: white;
    padding: 5px 5px;
    border-radius: 3px;
    letter-spacing: 2px;
    cursor: pointer;
    text-shadow: 2px 2px black;
    
}

#s-list {
    display: none;
    list-style: none;
    position: absolute;
    left: -65px;
    margin-top: 4px;
}
#topics {
    position: relative;
    
}

#s-list li {
    background: blue;
    padding: 5px 2px;
    border-radius: 2px;
    margin-top: 5px;
    text-shadow: 2px 2px black;
    
}
li .a-link {
    text-decoration: none;
    background-color: blue;
    color: white;
    text-shadow: 2px 2px black;
    
}
#s-list.active {
    display: block;
}
#about-2 {
    display: none;
    padding: 1rem;
    width: 600px;
    background-color: rgb(2, 7, 8);
    margin-top: 6rem;
    transform: skew(-10deg);
}

    
#about-2 p{
    line-height: 1.5rem;
    color: floralwhite;
    letter-spacing: 2px;
    font-size: 18px;
}
#about-2.active {
    display: block;
}

    
#more {
    display: none;
    padding: 1rem;
}
@media (max-width:700px) {
    .container h1 {
        font-size: 2rem;
    }
    #about-2 {
        width: 350px;
        

    }
   #f-list {
       display: flex;
       flex-direction: column;
       white-space: nowrap;
    
   }
   #f-list li {
       margin-top: 3px;
   }
}
@media (min-width: 377px) {
    #f-list {
        display: flex;
      
        white-space: nowrap;
}

}
.py-head {
    display: flex;
    
    background-color: rgb(212, 208, 208);
    align-items: center;
    border: 5px solid gray;
    background-color: rgb(56, 13, 97);
    
   
}
.py-head h1 {
    font-size: 2rem;
    text-transform: uppercase;
    color: cornsilk;
    text-shadow: 3px 5px black;
    
    
    
}
.div-1 a{
    color: rgb(245, 234, 234);
    text-decoration: none;
    background-color: rgb(27, 20, 20);
    padding: 4px;
   
    
}

.div-1 {
    margin-right: 22rem;
    margin-left: 1rem;
   
}
.synexp {
    margin-top: 5px;
    
}
.code-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


@media (max-width:800px){
    .div-2 h1 {
        font-size: 20px;
        padding: 0;
      
        
    }
    .py-head  {
        display: flex;
        justify-content: space-around;
        height: 50px;
        
        
    }
    .div-1 {
        margin: 0;
    }
    .code-cont {
        display: flex;
        flex-direction: column;
    }
    .jav-cont {
        margin-top: 5px;
    }
}
@media (min-width:583px){
    .div-2 h1 {
        font-size: 24px;
        
      
        
    }

}